{:server        {:port 1337}
 :db-connection {:classname "org.h2.Driver"
                 :url       "jdbc:h2:tcp://localhost/~/todos"
                 :user      "sa"
                 :password  ""}
 :logging       {:level :debug}}
